<div class="container">
  <div class="row toolbar">
    <div class="col-md-12">

      <p class="pull-right">
        <span class="badge badge">{{unreadMessages}}</span>
        unread messages
      </p>

      {{
        toggle-compose
          showComposeMessage=showComposeMessage
      }}

      {{
        select-all-button
          noMessages=noMessages
          allSelected=allSelected
          anySelected=anySelected
          noneSelected=noneSelected
          model=model
      }}

      {{
        mark-as-read
          anySelected=anySelected
          unreadMessages=unreadMessages
          model=model
      }}

      {{
        change-labels
          anySelected=anySelected
          model=model
      }}

      {{
        delete-button
          anySelected=anySelected
          unreadMessages=unreadMessages
          noMessages=noMessages
          model=model
      }}

    </div>
  </div>

  {{
    compose-message
      showComposeMessage=showComposeMessage
      anything="controllerCheck"
  }}

  {{#each model as | message |}}
  <div class="{{if message.deleted "deleted" ""}}">

    {{#bs-accordion as |acc|}}
      {{
        message-line
          unreadMessages=unreadMessages
          anySelected=anySelected
          noneSelected=noneSelected
          allSelected=allSelected
          model=model
          message=message
          acc=acc
      }}
    {{/bs-accordion}}

  </div>

  {{/each}}
</div>
