<div class="container">
  <div class="row toolbar">
    <div class="col-md-12">

      <p class="pull-right">
        <span class="badge badge">{{unreadMessages}}</span>
        unread messages
      </p>

      {{
        toggle-compose
          showComposeMessage=showComposeMessage
      }}

      {{
        select-all-button
          noMessages=noMessages
          allSelected=allSelected
          anySelected=anySelected
          noneSelected=noneSelected
          model=model
      }}

      {{
        mark-as-read
        anySelected=anySelected
        unreadMessages=unreadMessages
        model=model
      }}

      {{
        change-labels
        anySelected=anySelected
        model=model
      }}

      <button onclick={{action 'deleteMessages'}} class="btn btn-default" disabled={{if anySelected "" "disable"}}>
        <i class="fa fa-trash-o"></i>
      </button>

    </div>
  </div>

  {{compose-message showComposeMessage=showComposeMessage}}

  {{#each model as | message |}}
    <div class="{{if message.deleted "deleted" ""}}">

      {{#bs-accordion as |acc|}}
        {{#acc.item value=message.id as |aitem|}}

          <div class="{{if message.read "read" "unread"}}">
            <div class="row message {{if message.selected "selected" ""}}">
              <div class="col-xs-1">
                <div class="row">

                  <div class="col-xs-2">
                    <input onchange={{action 'selectSingleMessage' message.id}} type="checkbox" checked = {{if message.selected "checked" ""}}/>
                  </div>

                  <div class="col-xs-2">
                    <i {{action 'toggleStarred' message.id}} class="star fa fa-star{{if message.starred "" "-o"}}"></i>
                  </div>

                </div>
              </div>
              <div onclick={{action 'openMessage' message.id}}>

                {{#aitem.title}}
                  <div class="col-xs-10">
                    {{#each message.labels key="@index" as |label|}}
                      <span class="label label-warning">{{label}}</span>
                    {{/each}}
                      <span>{{message.subject}}</span>
                  </div>
                {{/aitem.title}}

              </div>
            </div>

            {{#aitem.body}}
              <div class="row col-xs-11 col-xs-offset-1">
                <p>{{message.body}}</p>
              </div>
            {{/aitem.body}}

          </div>

        {{/acc.item}}
      {{/bs-accordion}}

    </div>

  {{/each}}

</div>
